rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /attendance/{environment}/{attendanceMillis}/{siteId}/{imageId} {
      allow read: if environment == 'sit' || environment == 'prod';
      allow create, update: if (environment == 'sit' || environment == 'prod')
                            && request.resource.size < 10 * 1024 * 1024
                            && request.resource.contentType.matches('image/.*');
      allow delete: if environment == 'sit' || environment == 'prod';
    }
  }
}
